@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  background-image: url(../src/assets/img/bg-carrie.png);
  background-repeat: repeat;
  background-color: black;
  background-blend-mode: hard-light;

}

#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}